/* Srimal Priyanga
 * Date: 2015-07-18
 * @ 10.31PM
 */

// Colors
$cl-dark-blue: #01579b;
$cl-light-blue: #2196F3;
$cl-schedule-bg: #f7f7f7;
$cl-collapse-bg: #fafafa;

.scrollspySL2{
//Pre Loader

//Navigation
  .navbar-fixed{
    nav{
      .container{
        .nav-wrapper{
          .brand-logo{
            //span{
            //background-image: url("../img/logo.png");
            //background-repeat: no-repeat;
            //background: cover;
            //}
          }
        }
      }
    }
  }

//Main banner
  #index-banner{
    .container{
      h1{}
      #countdown{
        span{
          .position{
            .digit{
              border-radius: 0;
            }
          }
        }
      }
      #note{
        color: $cl-collapse-bg;
        font-size: 13px;
        margin: 0 auto;
        padding: 4px;
        text-align: center;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
        width: 400px;
      }
    }
  }

//Intro and videos
  .introSl2 {
    .container{
      .row{
        .card{
          .card-reveal{
            .video-container{
              margin: 20px 0 0 0;
              //iframe{
              //  margin: 20px 0 0 0;
              //  width: 100%;
              //}
            }
            .speaker-vd{
              margin: -20px -20px 10px -20px;
              height: 60%;
            }
          }
        }
      }
    }
  }

//Schedule
  .scheduleSl2{
    padding-top: 80px;
    background: $cl-schedule-bg;
    .container{
      .row{
        ul{
          li{
            .collapsible-header{
              i{}
              b{
                margin-right: 10px;
                color: $cl-dark-blue;
              }
              span{
                color: $cl-light-blue;
              }
            }
            .collapsible-body{
              background-color: $cl-collapse-bg;
            }
            &:first-child{
              .collapsible-header:hover{
                cursor: default;
              }
            }
          }
        }
      }
    }
  }
}