/* Srimal Priyanga
 * Date: 2015-07-18
 * @ 10.31PM
 */

// Colors
$cl-dark-blue: #01579b;
$cl-light-blue: #2196F3;
$cl-schedule-bg: #f7f7f7;
$cl-collapse-bg: #fafafa;

.scrollspySL2{
//Pre Loader

//Navigation
  .navbar-fixed{
    nav{
      .container{
        .nav-wrapper{
          .brand-logo{
            //span{
            //background-image: url("../img/logo.png");
            //background-repeat: no-repeat;
            //background: cover;
            //}
          }
        }
      }
    }
  }

//Main banner
  #index-banner{
    z-index: 0;
    .banner-overlay{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -5;
      background: rgba(0,0,0,.25) url(../img/overlay-bg.png);
    }
    background: url('../img/intro-bg2.png') top center no-repeat;
    .container{
      z-index: 1;
      h1.text_h{
        //margin: 40px auto 5px auto;
        min-height: 210px;
        padding: 5% 0 8% 0;
        line-height: 7.35rem;
      }
      h4 {
        color: #ECF3FF;
        margin: 0px auto 20px auto;
        text-align: center;
      }
      #countdown{
        span{
          .position{
            .digit{
              border-radius: 0;
            }
          }
        }
      }
      #note{
        color: $cl-collapse-bg;
        font-size: 13px;
        margin: 0 auto;
        padding: 4px;
        text-align: center;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
        width: 400px;
      }
      .register-btn{
        margin: 20px auto 0px auto;
        text-align: center;
      }
    }
  }

//Intro and videos
  .introSl2 {
    .container{
      .row{
        .card{
          .card-content{
            span{
              //overflow: hidden;
              //text-overflow: ellipsis;
              //white-space: nowrap;
            }
          }
          .card-reveal{
            .video-container{
              margin: 20px 0 0 0;
              height: 50%;
            }
            .speaker-vd{
              margin: -20px -20px 10px -20px;
              height: 60%;
            }
          }
        }
      }
    }
  }

//Schedule
  .scheduleSl2{
    padding-top: 45px;
    background: $cl-schedule-bg;
    .container{
      .row{
        ul{
          li{
            .collapsible-header{
              i{}
              b{
                margin-right: 10px;
                color: $cl-dark-blue;
              }
              span{
                color: $cl-light-blue;
              }
            }
            .collapsible-body{
              background-color: $cl-collapse-bg;
            }
            &:first-child{
              .collapsible-header:hover{
                cursor: default;
              }
            }
          }
        }
      }
    }
  }

//Venue
  .parallax-container {
    max-height: 450px;
    .parallax {
      img{
        transform: translate3d(-50%, 77px, 0px);
        top: -20%;
      }
    }
    h3{
      position: absolute;
      bottom: 0;
      text-align: center;
      margin: 0 auto;
      background: rgba(66, 136, 85, 0.26);
      width: 100%;
      color: #ECF3FF;
    }
  }

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  //Navigation
  .navbar-fixed{
    nav{
      background-color: $cl-light-blue;
      .nav-wrapper{
        .brand-logo{
        }
        a.button-collapse {
          left: 5px;
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  //Navigation
  .navbar-fixed{
    nav{
      background-color: $cl-light-blue;
      .nav-wrapper{
        .brand-logo{
          left: 10px;
        }
        a.button-collapse {
          left: 5px;
        }
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}